/*
  Universal, html, and body styles
  See global.js for other global styles
  (global.js can't reach html and body)
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
